@page
@model FirstRazorPageProject.Pages.FeaturesModel
@{
	ViewData["Title"] = "Features";
}

<h5 class="text-danger text-center">@ViewData["Title"]</h5>

<h3 class="text-center">Food With A New Passion</h3>

<div class="row">
	<div class="col-4 p-2">
		<div class="card text-center border-0">
			<div class="w-100 d-flex justify-content-center mb-5">
				<div class="card-round-image bg-success d-flex justify-content-center">
					<img src="~/assets/icons/quality-food.svg" class="w-50" alt="Quality Food" />
				</div>
			</div>
			
			<h4>Quality Food</h4>
			<p>It can be a very secure path to earn good money and make you very successful creative entrepreneur.</p>
		</div>
	</div>
	<div class="col-4 p-2">
		<div class="card text-center border-0">
			<div class="w-100 d-flex justify-content-center mb-5">
				<div class="card-round-image bg-warning d-flex justify-content-center">
					<img src="~/assets/icons/food-delivery.svg" class="w-50" alt="Quality Food" />
				</div>
			</div>

			<h4>Food Delivery</h4>
			<p>It can be a very secure path to earn good money and make you very successful creative entrepreneur.</p>
		</div>
	</div>
	<div class="col-4 p-2">
		<div class="card text-center border-0">
			<div class="w-100 d-flex justify-content-center mb-5">
				<div class="card-round-image bg-danger d-flex justify-content-center">
					<img src="~/assets/icons/super-taste.svg" class="w-50" alt="Quality Food" />
				</div>
			</div>

			<h4>Super Taste</h4>
			<p>It can be a very secure path to earn good money and make you very successful creative entrepreneur.</p>
		</div>
	</div>
</div>