@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <div class="row">
        <div class="col-md-6 col-sm-12 d-flex flex-column justify-content-center">
			<div>
				<h1>Making time a good time by making food the good food.</h1>
				<p>There are many things are needed to start the Fast Food Business. You need not only Just Food Stalls with Persons but also specialized equipment,</p>
			</div>
		</div>
        <div class="col-md-6 home-image">
			<img class="img-fluid" src="~/assets/images/HomePageImage.png" alt="Food image" />
        </div>
    </div>
</div>
