@page
@model FirstRazorPageProject.Pages.MenuModel
@{
	ViewData["Title"] = "Menu";
}

<div class="text-center w-50 mx-auto">
	<h4 class="text-danger">@ViewData["Title"]</h4>

	<h3 class="my-3">Food Full of treaty Love</h3>

	<p>There are many things are needed to start the Fast Food Business. You need not only Just Food Stalls with Persons but also specialized equipment, Skills to manage Customers</p>
</div>

<div class="row">
	<div class="col-md-4 col-sm-8 my-2">
		<div class="card card-border">
			<div class="image-frame">
				<img class="img-fluid image-frame" src="~/assets/images/Vegie Muffen.png" alt="Vegie Muffen" />
			</div>
			<div class="card-body">
				<div class="d-flex justify-content-between">
					<h5>Vegie Muffen</h5>
					<h5>16$</h5>
				</div>
				<p>There are many things are needed to start the Fast Food Business.</p>
				<div class="d-flex justify-content-between">
					<button class="btn plus-btn">+</button>
					<div class="d-flex">
						<div><img src="~/assets/icons/yellow-star.svg" alt="1" /></div>
						<div><img src="~/assets/icons/yellow-star.svg" alt="2" /></div>
						<div><img src="~/assets/icons/yellow-star.svg" alt="3" /></div>
						<div><img src="~/assets/icons/yellow-star.svg" alt="4" /></div>
						<div><img src="~/assets/icons/gray-star.svg" alt="5" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-8 my-2">
		<div class="card card-border">
			<div class="image-frame">
				<img class="img-fluid image-frame" src="~/assets/images/Salads.png" alt="Salads" />
			</div>
			<div class="card-body">
				<div class="d-flex justify-content-between">
					<h5>Salads</h5>
					<h5>12$</h5>
				</div>
				<p>There are many things are needed to start the Fast Food Business.</p>
				<div class="d-flex justify-content-between">
					<button class="btn plus-btn">+</button>
					<div class="d-flex">
						<div><img src="~/assets/icons/yellow-star.svg" alt="1" /></div>
						<div><img src="~/assets/icons/yellow-star.svg" alt="2" /></div>
						<div><img src="~/assets/icons/yellow-star.svg" alt="3" /></div>
						<div><img src="~/assets/icons/gray-star.svg" alt="4" /></div>
						<div><img src="~/assets/icons/gray-star.svg" alt="5" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-8 my-2">
		<div class="card card-border">
			<div class="image-frame">
				<img class="img-fluid image-frame" src="~/assets/images/Burger.png" alt="Burger" />
			</div>
			<div class="card-body">
				<div class="d-flex justify-content-between">
					<h5>Burger</h5>
					<h5>10$</h5>
				</div>
				<p>There are many things are needed to start the Fast Food Business.</p>
				<div class="d-flex justify-content-between">
					<button class="btn plus-btn">+</button>
					<div class="d-flex">
						<div><img src="~/assets/icons/yellow-star.svg" alt="1" /></div>
						<div><img src="~/assets/icons/yellow-star.svg" alt="2" /></div>
						<div><img src="~/assets/icons/yellow-star.svg" alt="3" /></div>
						<div><img src="~/assets/icons/yellow-star.svg" alt="4" /></div>
						<div><img src="~/assets/icons/yellow-star.svg" alt="5" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-8 my-2">
		<div class="card card-border">
			<div class="image-frame">
				<img class="img-fluid image-frame" src="~/assets/images/Delmonico_Steak_dish.png" alt="Delmonico Steak dish" />
			</div>
			<div class="card-body">
				<div class="d-flex justify-content-between">
					<h5>Delmonico Steak dish</h5>
					<h5>14$</h5>
				</div>
				<p>There are many things are needed to start the Fast Food Business.</p>
				<div class="d-flex justify-content-between">
					<button class="btn plus-btn">+</button>
					<div class="d-flex">
						<div><img src="~/assets/icons/yellow-star.svg" alt="1" /></div>
						<div><img src="~/assets/icons/yellow-star.svg" alt="2" /></div>
						<div><img src="~/assets/icons/yellow-star.svg" alt="3" /></div>
						<div><img src="~/assets/icons/yellow-star.svg" alt="4" /></div>
						<div><img src="~/assets/icons/gray-star.svg" alt="5" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-8 my-2">
		<div class="card card-border">
			<div class="image-frame">
				<img class="img-fluid image-frame" src="~/assets/images/Egg_Masala.png" alt="Egg Masala" />
			</div>
			<div class="card-body">
				<div class="d-flex justify-content-between">
					<h5>Egg Masala</h5>
					<h5>9$</h5>
				</div>
				<p>There are many things are needed to start the Fast Food Business.</p>
				<div class="d-flex justify-content-between">
					<button class="btn plus-btn">+</button>
					<div class="d-flex">
						<div><img src="~/assets/icons/yellow-star.svg" alt="1" /></div>
						<div><img src="~/assets/icons/yellow-star.svg" alt="2" /></div>
						<div><img src="~/assets/icons/yellow-star.svg" alt="3" /></div>
						<div><img src="~/assets/icons/yellow-star.svg" alt="4" /></div>
						<div><img src="~/assets/icons/gray-star.svg" alt="5" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-8 my-2">
		<div class="card card-border">
			<div class="image-frame">
				<img class="img-fluid image-frame" src="~/assets/images/Peach_Melba_dish.png" alt="Peach Melba dish" />
			</div>
			<div class="card-body">
				<div class="d-flex justify-content-between">
					<h5>Peach Melba dish</h5>
					<h5>15$</h5>
				</div>
				<p>There are many things are needed to start the Fast Food Business.</p>
				<div class="d-flex justify-content-between">
					<button class="btn plus-btn">+</button>
					<div class="d-flex">
						<div><img src="~/assets/icons/yellow-star.svg" alt="1" /></div>
						<div><img src="~/assets/icons/yellow-star.svg" alt="2" /></div>
						<div><img src="~/assets/icons/yellow-star.svg" alt="3" /></div>
						<div><img src="~/assets/icons/gray-star.svg" alt="4" /></div>
						<div><img src="~/assets/icons/gray-star.svg" alt="5" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>